html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: 100%;
    background-color: black;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 8px;
    right: 5px;
    color: white;
    text-shadow: 0 0 4px white;
  }

  .piscante {
    animation: blink 3s infinite;
  }
 

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 24px;
  background-color: yellow;
  padding: 10px;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}


#remover {
  visibility: hidden;
}